<%- include('./layouts/main'); -%>
  <style>
  

  </style>
  
    <%- include('./layouts/header'); -%>



        <div id="top" class="sa-app__body">
            <div class="mx-sm-2 px-2 px-sm-3 px-xxl-4 pb-6">
                <div class="container">
                    <div class="py-5">
                        <div class="row g-4 align-items-center">
                            <div class="col">
                                <nav class="mb-2" aria-label="breadcrumb">
                                    <ol class="breadcrumb breadcrumb-sa-simple">
                                        <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                                        <li class="breadcrumb-item"><a href="app-products-list.html">Products</a>
                                        </li>
                                        <li class="breadcrumb-item active" aria-current="page">Add Product</li>
                                    </ol>
                                </nav>
                                <h1 class="h3 m-0">Add Product</h1>
                            </div>







                            <form action="/admin/edit_product?id=<%= product._id %> " method="post" enctype="multipart/form-data">
                            <div class="col-auto d-flex"><button class="btn btn-primary" type="submit">Save</button>
                            </div>
                        </div>
                    </div>
                    <div class="sa-entity-layout"
                        data-sa-container-query="{&quot;920&quot;:&quot;sa-entity-layout--size--md&quot;,&quot;1100&quot;:&quot;sa-entity-layout--size--lg&quot;}">
                        <div class="sa-entity-layout__body">
                            <div class="sa-entity-layout__main">
                                <div class="card">
                                    <div class="card-body p-5">
                                        <div class="mb-5">
                                            <h2 class="mb-0 fs-exact-18">Basic information</h2>
                                        </div>



                                        <div class="mb-4"><label for="form-product/name"
                                                class="form-label">Name</label><input type="text" class="form-control"
                                                name="name" value="<%= product.name %> " id="form-product/name" required></div>

                                        <div class="mb-4"><label for="form-product/description"
                                                class="form-label">Description</label>
                                                <textarea
                                                id="" name="description"
                                                class=" form-control" rows="4" required><%= product.description %></textarea>
                                        </div>
                                        <div class="mb-4"><label for="form-product/name"
                                            class="form-label">Brand</label><input type="text"value="<%= product.brand %>" class="form-control"
                                            name="brand" id="form-product/name" required></div>
                                    </div>
                                </div>
                                <div class="card mt-5">
                                    <div class="card-body p-5">
                                        <div class="mb-5">
                                            <h2 class="mb-0 fs-exact-18">Pricing</h2>
                                        </div>
                                        <div class="row g-4">
                                            <div class="col"><label for="form-product/price"
                                                    class="form-label">Price</label><input type="number"
                                                    class="form-control" id="form-product/price" value="<%= product.price %>" name="price" required>
                                            </div>
                                            <div class="col"><label for="form-product/old-price"
                                                    class="form-label">Discount</label><input type="number"
                                                    class="form-control" name="discount" value="<%= product.discount %>" id="form-product/old-price" required>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                         
                                <div class="card mt-5">
                                    <div class="card-body p-5">
                                        <div class="mb-5">
                                            <h2 class="mb-0 fs-exact-18">Inventory</h2>
                                        </div>

                                        <div><label for="form-product/quantity" class="form-label">Stock
                                                quantity</label><input type="number" class="form-control"
                                                id="form-product/quantity" name="stock" value="<%= product.stock %>" required></div>
                                    </div>
                                </div>
                                <div class="card mt-5">
                                    <div class="card-body p-5">
                                        <div class="mb-5">
                                            <h2 class="mb-0 fs-exact-18">Images</h2>
                                        </div>
                                    </div>
                                    <div class="mt-n5">
                                        <div class="sa-divider"></div>
                                        <div class="table-responsive">
                                            <div class="choose-imagefile-wrap">
                                                    <div >
                                                     <h2 class="ms-4 fs-exact-18">previous image preview</h2>
                                                        <% for( let i = 0; i < product.product_image.length; i++ ) { %>
                                                            <img src="data:<%= product.product_image[i].contentType %>;base64,<%= product.product_image[i].imageBase64 %>" alt="">
                                                            <% } %>
                                                    </div>
                                                    <h2 class="ms-4 fs-exact-18">replace image</h2>
                                                    <input type="file" id="file-input"  class="form-control" name='images'  multiple>
                                                    <div id="preview">
                                                    
                                                    </div>
                                                  
                                                
                                              
                                            </div>

                                        </div>
                                        <div class="sa-divider"></div>

                                    </div>
                                </div>

                            </div>
                            <div class="sa-entity-layout__sidebar">

                                <div class="card w-100 mt-5">
                                    <div class="card-body p-5">
                                        <div class="mb-5">
                                            <h2 class="mb-0 fs-exact-18">Categories</h2>
                                        </div><select name="category" class="sa-select2 form-select" required>
                                            <option selected><%= product.category.category_name %></option>
                                            <% for( let i=0; i < category.length; i++ ) { %>
                                                <option>
                                                    <%= category[i].category_name %>
                                                </option>
                                            <% } %>



                                        </select>

                                    </div>
                                    <div class="card-body p-5">
                                        <div class="mb-5">
                                            <h2 class="mb-0 fs-exact-18">Colors</h2>
                                        </div><select name="colors" class="sa-select2 form-select" required multiple="">
                                            <% for( let i = 0; i < product.colors.length; i++ ) { %>
                                            <option selected><%= product.colors[i] %> </option>
                                            <% } %>
                                            

                                            <option >Black</option>
                                            <option>red</option>
                                            <option >White</option>
                                            <option>Green</option>

                                        </select>
                                    </div>
                                </div>
                                <div class="card w-100 mt-5">
                                    <div class="card-body p-5">
                                        <div class="mb-5">
                                            <h2 class="mb-0 fs-exact-18">Tags</h2>
                                        </div><select name="tags" class="sa-select2 form-select" data-tags="true" required multiple="">
                                            <% for( let i = 0; i < product.tags.length; i++ ) { %>
                                                <option selected><%= product.tags[i] %> </option>
                                                <% } %>
                                            <option>samsung</option>
                                            <option>tv</option>
                                            <option>laptop</option>
                                            <option>ipad</option>
                                        </select>
                                        <div class="mt-4 mb-n2"><a href="/admin/category_list">Add new category</a>
                                        </div>
                                    </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- sa-app__body / end -->
<script>


function previewImages() {

var preview = document.querySelector('#preview');

if (this.files) {
  [].forEach.call(this.files, readAndPreview);
}

function readAndPreview(file) {

  // Make sure `file.name` matches our extensions criteria
  if (!/\.(jpe?g|png|gif)$/i.test(file.name)) {
    return alert(file.name + " is not an image");
  } // else...
  
  var reader = new FileReader();
  
  reader.addEventListener("load", function() {
    var image = new Image();
    image.height = 100;
    image.title  = file.name;
    image.src    = this.result;
    preview.appendChild(image);
  });
  
  reader.readAsDataURL(file);
  
}

}

document.querySelector('#file-input').addEventListener("change", previewImages);

</script>


        <%- include('./layouts/footer'); -%>