<%- include('./layouts/main'); -%>
<%- include('./layouts/header'); -%>

            <div id="top" class="sa-app__body px-2 px-lg-4">
                <div class="container pb-6">
                    <div class="py-5">
                        <div class="row g-4 align-items-center">
                            <div class="col">
                                <h1 class="h3 m-0">Dashboard</h1>
                            </div>
                            <div class="col-auto d-flex"><select class="form-select me-3">
                                    <option id="date" selected=""></option>
                                    <script>n =  new Date();
                                        y = n.getFullYear();
                                        m = n.getMonth() + 1;
                                        d = n.getDate();
                                        document.getElementById("date").innerHTML = m + "/" + d + "/" + y;</script>
                                </select><a href="#" class="btn btn-primary">Export</a></div>
                        </div>
                    </div>
                    <div class="row g-4 g-xl-5">
                        <div class="col-12 col-md-4 d-flex">
                            <div class="card saw-indicator flex-grow-1"
                                data-sa-container-query="{&quot;340&quot;:&quot;saw-indicator--size--lg&quot;}">
                                <div class="sa-widget-header saw-indicator__header">
                                    <h2 class="sa-widget-header__title">Total users</h2>
                                    <div class="sa-widget-header__actions">
                                        <div class="dropdown"><button type="button"
                                                class="btn btn-sm btn-sa-muted d-block" id="widget-context-menu-1"
                                                data-bs-toggle="dropdown" aria-expanded="false" aria-label="More"><svg
                                                    xmlns="http://www.w3.org/2000/svg" width="3" height="13"
                                                    fill="currentColor">
                                                    <path
                                                        d="M1.5,8C0.7,8,0,7.3,0,6.5S0.7,5,1.5,5S3,5.7,3,6.5S2.3,8,1.5,8z M1.5,3C0.7,3,0,2.3,0,1.5S0.7,0,1.5,0 S3,0.7,3,1.5S2.3,3,1.5,3z M1.5,10C2.3,10,3,10.7,3,11.5S2.3,13,1.5,13S0,12.3,0,11.5S0.7,10,1.5,10z">
                                                    </path>
                                                </svg></button>
                                            <ul class="dropdown-menu dropdown-menu-end"
                                                aria-labelledby="widget-context-menu-1">
                                                <li><a class="dropdown-item" href="#">Settings</a></li>
                                                <li><a class="dropdown-item" href="#">Move</a></li>
                                                <li>
                                                    <hr class="dropdown-divider" />
                                                </li>
                                                <li><a class="dropdown-item text-danger" href="#">Remove</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="saw-indicator__body">
                                    <div class="saw-indicator__value"><%= user %></div>
                                    <div class="saw-indicator__delta saw-indicator__delta--rise">
                                      

                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4 d-flex">
                            <div class="card saw-indicator flex-grow-1"
                                data-sa-container-query="{&quot;340&quot;:&quot;saw-indicator--size--lg&quot;}">
                                <div class="sa-widget-header saw-indicator__header">
                                    <h2 class="sa-widget-header__title">Total Sales amount</h2>
                                    <div class="sa-widget-header__actions">
                                        <div class="dropdown"><button type="button"
                                                class="btn btn-sm btn-sa-muted d-block" id="widget-context-menu-2"
                                                data-bs-toggle="dropdown" aria-expanded="false" aria-label="More"><svg
                                                    xmlns="http://www.w3.org/2000/svg" width="3" height="13"
                                                    fill="currentColor">
                                                    <path
                                                        d="M1.5,8C0.7,8,0,7.3,0,6.5S0.7,5,1.5,5S3,5.7,3,6.5S2.3,8,1.5,8z M1.5,3C0.7,3,0,2.3,0,1.5S0.7,0,1.5,0 S3,0.7,3,1.5S2.3,3,1.5,3z M1.5,10C2.3,10,3,10.7,3,11.5S2.3,13,1.5,13S0,12.3,0,11.5S0.7,10,1.5,10z">
                                                    </path>
                                                </svg></button>
                                            <ul class="dropdown-menu dropdown-menu-end"
                                                aria-labelledby="widget-context-menu-2">
                                                <li><a class="dropdown-item" href="#">Settings</a></li>
                                                <li><a class="dropdown-item" href="#">Move</a></li>
                                                <li>
                                                    <hr class="dropdown-divider" />
                                                </li>
                                                <li><a class="dropdown-item text-danger" href="#">Remove</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="saw-indicator__body">
                                    <div class="saw-indicator__value">&#8377;<%= totalsale %> </div>
                                    <div class="saw-indicator__delta saw-indicator__delta--fall">
                                       
                                    </div>
                                  
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4 d-flex">
                            <div class="card saw-indicator flex-grow-1"
                                data-sa-container-query="{&quot;340&quot;:&quot;saw-indicator--size--lg&quot;}">
                                <div class="sa-widget-header saw-indicator__header">
                                    <h2 class="sa-widget-header__title">Total category</h2>
                                    <div class="sa-widget-header__actions">
                                        <div class="dropdown"><button type="button"
                                                class="btn btn-sm btn-sa-muted d-block" id="widget-context-menu-3"
                                                data-bs-toggle="dropdown" aria-expanded="false" aria-label="More"><svg
                                                    xmlns="http://www.w3.org/2000/svg" width="3" height="13"
                                                    fill="currentColor">
                                                    <path
                                                        d="M1.5,8C0.7,8,0,7.3,0,6.5S0.7,5,1.5,5S3,5.7,3,6.5S2.3,8,1.5,8z M1.5,3C0.7,3,0,2.3,0,1.5S0.7,0,1.5,0 S3,0.7,3,1.5S2.3,3,1.5,3z M1.5,10C2.3,10,3,10.7,3,11.5S2.3,13,1.5,13S0,12.3,0,11.5S0.7,10,1.5,10z">
                                                    </path>
                                                </svg></button>
                                            <ul class="dropdown-menu dropdown-menu-end"
                                                aria-labelledby="widget-context-menu-3">
                                                <li><a class="dropdown-item" href="#">Settings</a></li>
                                                <li><a class="dropdown-item" href="#">Move</a></li>
                                                <li>
                                                    <hr class="dropdown-divider" />
                                                </li>
                                                <li><a class="dropdown-item text-danger" href="#">Remove</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="saw-indicator__body">
                                    <div class="saw-indicator__value"><%= category %> </div>
                                    <div class="saw-indicator__delta saw-indicator__delta--rise">
                                      
                                    </div>
                                 
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-xxl-3 d-flex">
                            <div class="card flex-grow-1 saw-chart-circle"
                                data-sa-data="[{&quot;label&quot;:&quot;<%= topproducts[0].product.name.substring(0,16)%>&quot;,&quot;value&quot;:<%= topproducts[0].quantity*topproducts[0].product.price-topproducts[0].product.discount%>,&quot;color&quot;:&quot;#ffd333&quot;,&quot;orders&quot;:12},{&quot;label&quot;:&quot;<%= topproducts[1].product.name.substring(0,16)%>&quot;,&quot;value&quot;:<%= topproducts[1].quantity*topproducts[1].product.price-topproducts[1].product.discount%>,&quot;color&quot;:&quot;#e62e2e&quot;,&quot;orders&quot;:51},{&quot;label&quot;:&quot;<%= topproducts[2].product.name.substring(0,16)%>&quot;,&quot;value&quot;:<%= topproducts[2].quantity*topproducts[2].product.price-topproducts[2].product.discount %>,&quot;color&quot;:&quot;#3377ff&quot;,&quot;orders&quot;:4}]"
                                data-sa-container-query="{&quot;600&quot;:&quot;saw-chart-circle--size--lg&quot;}">
                                <div class="sa-widget-header saw-chart-circle__header">
                                    <h2 class="sa-widget-header__title">Sales by products</h2>
                                    <div class="sa-widget-header__actions">
                                        <div class="dropdown"><button type="button"
                                                class="btn btn-sm btn-sa-muted d-block" id="widget-context-menu-7"
                                                data-bs-toggle="dropdown" aria-expanded="false" aria-label="More"><svg
                                                    xmlns="http://www.w3.org/2000/svg" width="3" height="13"
                                                    fill="currentColor">
                                                    <path
                                                        d="M1.5,8C0.7,8,0,7.3,0,6.5S0.7,5,1.5,5S3,5.7,3,6.5S2.3,8,1.5,8z M1.5,3C0.7,3,0,2.3,0,1.5S0.7,0,1.5,0 S3,0.7,3,1.5S2.3,3,1.5,3z M1.5,10C2.3,10,3,10.7,3,11.5S2.3,13,1.5,13S0,12.3,0,11.5S0.7,10,1.5,10z">
                                                    </path>
                                                </svg></button>
                                            <ul class="dropdown-menu dropdown-menu-end"
                                                aria-labelledby="widget-context-menu-7">
                                                <li><a class="dropdown-item" href="#">Settings</a></li>
                                                <li><a class="dropdown-item" href="#">Move</a></li>
                                                <li>
                                                    <hr class="dropdown-divider" />
                                                </li>
                                                <li><a class="dropdown-item text-danger" href="#">Remove</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="saw-chart-circle__body">
                                    <div class="saw-chart-circle__container"><canvas></canvas></div>
                                </div>
                                <div class="sa-widget-table saw-chart-circle__table">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th>Product</th>
                                                <th class="text-center">Orders</th>
                                                <th class="text-end">Amount</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% if (topproducts !=null) { %>
                                             <% for( let i = 0; i < topproducts.length; i++ ) { %>
                                             
                                            
                                            
                                            <tr>
                                                <td>
                                                    <div class="d-flex align-items-center">
                                                        <div class="saw-chart-circle__symbol"
                                                            style="--saw-chart-circle__symbol--color:#09355E"></div>
                                                        <div class="ps-2"><%= topproducts[i].product.name.substring(0,19) %> </div>
                                                    </div>
                                                </td>
                                                <td class="text-center"><%= topproducts[i].quantity %></td>
                                                <td class="text-end">
                                                    <div class="sa-price"><span class="sa-price__symbol">&#x20B9;</span><span
                                                            class="sa-price__integer"><%= topproducts[i].quantity*topproducts[i].product.price-topproducts[i].product.discount%></span><span
                                                            class="sa-price__decimal">.00</span></div>
                                                </td>
                                            </tr>
                                            <% } %>

                                            <% } %>
                                            
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        
                        
                        <div class="col-12 col-lg-8 col-xxl-9 d-flex">
                            <div class="card flex-grow-1 saw-chart"
                                data-sa-data="[{&quot;label&quot;:&quot;Jan&quot;,&quot;value&quot;:<% let jan=bar.find((el)=>el._id==1)%> <%= jan==null||jan==undefined?0:jan.totalamount%>},{&quot;label&quot;:&quot;Feb&quot;,&quot;value&quot;:<% let feb=bar.find((el)=>el._id==2)%> <%= feb==null||feb==undefined?0:feb.totalamount%>},{&quot;label&quot;:&quot;Mar&quot;,&quot;value&quot;:<% let mar=bar.find((el)=>el._id==3)%> <%= mar==null||mar==undefined?0:mar.totalamount%>},{&quot;label&quot;:&quot;Apr&quot;,&quot;value&quot;:<% let apr=bar.find((el)=>el._id==4)%> <%= apr==null||apr==undefined?0:apr.totalamount%>},{&quot;label&quot;:&quot;May&quot;,&quot;value&quot;:<% let may=bar.find((el)=>el._id==5)%> <%= may==null||may==undefined?0:may.totalamount%>},{&quot;label&quot;:&quot;Jun&quot;,&quot;value&quot;:<% let jun=bar.find((el)=>el._id==6)%> <%= jun==null||jun==undefined?0:jun.totalamount%>},{&quot;label&quot;:&quot;Jul&quot;,&quot;value&quot;:<% let jul=bar.find((el)=>el._id==7)%> <%= jul==null||jul==undefined?0:jul.totalamount%>},{&quot;label&quot;:&quot;Aug&quot;,&quot;value&quot;:<% let aug=bar.find((el)=>el._id==8)%> <%= aug==null||aug==undefined?0:aug.totalamount%>},{&quot;label&quot;:&quot;Sep&quot;,&quot;value&quot;:<% let sep=bar.find((el)=>el._id==9)%> <%= sep==null||sep==undefined?0:sep.totalamount%>},{&quot;label&quot;:&quot;Oct&quot;,&quot;value&quot;:<% let oct=bar.find((el)=>el._id==10)%> <%= oct==null||oct==undefined?0:oct.totalamount%>},{&quot;label&quot;:&quot;Nov&quot;,&quot;value&quot;:<% let nov=bar.find((el)=>el._id==11)%> <%= nov==null||nov==undefined?0:nov.totalamount%>},{&quot;label&quot;:&quot;Dec&quot;,&quot;value&quot;:<% let dec=bar.find((el)=>el._id==12)%> <%= dec==null||dec==undefined?0:dec.totalamount%>}]">
                                <div class="sa-widget-header saw-chart__header">
                                    <h2 class="sa-widget-header__title">Income statistics</h2>
                                    <div class="sa-widget-header__actions">
                                        <div class="dropdown"><button type="button"
                                                class="btn btn-sm btn-sa-muted d-block" id="widget-context-menu-5"
                                                data-bs-toggle="dropdown" aria-expanded="false" aria-label="More"><svg
                                                    xmlns="http://www.w3.org/2000/svg" width="3" height="13"
                                                    fill="currentColor">
                                                    <path
                                                        d="M1.5,8C0.7,8,0,7.3,0,6.5S0.7,5,1.5,5S3,5.7,3,6.5S2.3,8,1.5,8z M1.5,3C0.7,3,0,2.3,0,1.5S0.7,0,1.5,0 S3,0.7,3,1.5S2.3,3,1.5,3z M1.5,10C2.3,10,3,10.7,3,11.5S2.3,13,1.5,13S0,12.3,0,11.5S0.7,10,1.5,10z">
                                                    </path>
                                                </svg></button>
                                            <ul class="dropdown-menu dropdown-menu-end"
                                                aria-labelledby="widget-context-menu-5">
                                                <li><a class="dropdown-item" href="#">Settings</a></li>
                                                <li><a class="dropdown-item" href="#">Move</a></li>
                                                <li>
                                                    <hr class="dropdown-divider" />
                                                </li>
                                                <li><a class="dropdown-item text-danger" href="#">Remove</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="saw-chart__body">
                                    <div class="saw-chart__container"><canvas></canvas></div>
                                </div>
                            </div>
                        </div>

                        
                        <div class="col-12 col-xxl-7 d-flex">
                            <div class="card flex-grow-1 saw-table">
                                <div class="sa-widget-header saw-table__header">
                                    <h2 class="sa-widget-header__title">Recent orders</h2>
                                    <div class="sa-widget-header__actions">
                                        <div class="dropdown"><button type="button"
                                                class="btn btn-sm btn-sa-muted d-block" id="widget-context-menu-6"
                                                data-bs-toggle="dropdown" aria-expanded="false" aria-label="More"><svg
                                                    xmlns="http://www.w3.org/2000/svg" width="3" height="13"
                                                    fill="currentColor">
                                                    <path
                                                        d="M1.5,8C0.7,8,0,7.3,0,6.5S0.7,5,1.5,5S3,5.7,3,6.5S2.3,8,1.5,8z M1.5,3C0.7,3,0,2.3,0,1.5S0.7,0,1.5,0 S3,0.7,3,1.5S2.3,3,1.5,3z M1.5,10C2.3,10,3,10.7,3,11.5S2.3,13,1.5,13S0,12.3,0,11.5S0.7,10,1.5,10z">
                                                    </path>
                                                </svg></button>
                                            <ul class="dropdown-menu dropdown-menu-end"
                                                aria-labelledby="widget-context-menu-6">
                                                <li><a class="dropdown-item" href="#">Settings</a></li>
                                                <li><a class="dropdown-item" href="#">Move</a></li>
                                                <li>
                                                    <hr class="dropdown-divider" />
                                                </li>
                                                <li><a class="dropdown-item text-danger" href="#">Remove</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="saw-table__body sa-widget-table text-nowrap">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th>No.</th>
                                                <th>Status</th>
                                                <th>Payment</th>
                                                <th>Customer</th>
                                                <th>Date</th>
                                                <th>Total</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% if (order!=null) { %>

                                                
                                             <% for( let i = 0; i < order.length; i++ ) { %>
                                             

                                            <tr>
                                                <td><a href="#" class="text-reset">#<%= order[i]._id.toString().substring(8,14) %>  </a></td>
                                                <td>
                                                    <div class="d-flex fs-6">
                                                        <div class="badge badge-sa-primary"><%= order[i].status %> </div>
                                                    </div>
                                                </td>
                                                <td><%= order[i].payment %> </td>
                                                <td>
                                                    <div class="d-flex align-items-center"><a href="#"
                                                            class="sa-symbol sa-symbol--shape--circle sa-symbol--size--md me-3">
                                                            <div class="sa-symbol__text"><%=order[i].user.firstname.toString().substring(0,1)+''+order[i].user.lastname.toString().substring(0,1)%> </div>
                                                        </a>
                                                        <div><a href="#" class="text-reset"><%= order[i].user.firstname +' '+order[i].user.lastname %> </a></div>
                                                    </div>
                                                </td>
                                                <td><%= moment(order[i].updatedAt).format('D-MMMM-YYYY') %> </td>
                                                <td>&#8377;<%= order[i].totalamount %> </td>
                                            </tr>
                                            <% } %>
                                            
                                            <% } %> 

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                      
                        
                        <div class="col-12 col-lg-5 d-flex">
                            <div class="card flex-grow-1">
                                <div class="card-body">
                                    <div class="sa-widget-header">
                                        <h2 class="sa-widget-header__title">Recent reviews</h2>
                                        <div class="sa-widget-header__actions">
                                            <div class="dropdown"><button type="button"
                                                    class="btn btn-sm btn-sa-muted d-block" id="widget-context-menu-9"
                                                    data-bs-toggle="dropdown" aria-expanded="false"
                                                    aria-label="More"><svg xmlns="http://www.w3.org/2000/svg" width="3"
                                                        height="13" fill="currentColor">
                                                        <path
                                                            d="M1.5,8C0.7,8,0,7.3,0,6.5S0.7,5,1.5,5S3,5.7,3,6.5S2.3,8,1.5,8z M1.5,3C0.7,3,0,2.3,0,1.5S0.7,0,1.5,0 S3,0.7,3,1.5S2.3,3,1.5,3z M1.5,10C2.3,10,3,10.7,3,11.5S2.3,13,1.5,13S0,12.3,0,11.5S0.7,10,1.5,10z">
                                                        </path>
                                                    </svg></button>
                                                <ul class="dropdown-menu dropdown-menu-end"
                                                    aria-labelledby="widget-context-menu-9">
                                                    <li><a class="dropdown-item" href="#">Settings</a></li>
                                                    <li><a class="dropdown-item" href="#">Move</a></li>
                                                    <li>
                                                        <hr class="dropdown-divider" />
                                                    </li>
                                                    <li><a class="dropdown-item text-danger" href="#">Remove</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <ul class="list-group list-group-flush">


                                    <% if (reviews !=null) { %>
                                     <% for( let i = 0; i < reviews.length; i++ ) { %>
                                     
                                    
                                    
                                    <li class="list-group-item py-2">
                                        <div class="d-flex align-items-center py-3"><a href="#"
                                                class="me-4">
                                                <div class="sa-symbol sa-symbol--shape--rounded sa-symbol--size--lg">
                                                    <img src="data:<%= reviews[i].product.product_image[0].contentType %>;base64,<%= reviews[i].product.product_image[0].imageBase64 %> " width="40"
                                                        height="40" alt="" /></div>
                                            </a>
                                            <div class="d-flex align-items-center flex-grow-1 flex-wrap">
                                                <div class="col"><a href="#"
                                                        class="text-reset fs-exact-14"><%= reviews[i].product.name.substring(0,32)  %> </a>
                                                    <div class="text-muted fs-exact-13">Reviewed by <a
                                                            href="#" class="text-reset"><%= reviews[i].user.firstname+' '+reviews[i].user.lastname %> </a>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-sm-auto">
                                                    <div class="sa-rating ms-sm-3 my-2 my-sm-0"
                                                        style="--sa-rating--value:<%=(reviews[i].stars*20/100)%>">
                                                        <div class="sa-rating__body"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <% } %>
                                    <% } %>


                                </ul>
                            </div>
                        </div>

                        <div class="col-12 col-xxl-12 d-flex">
                            <div class="card flex-grow-1 saw-table">
                                <div class="sa-widget-header saw-table__header">
                                    <h2 class="sa-widget-header__title">Sales status</h2>
                                    <div class="sa-widget-header__actions">
                                        <select id="reports" style="padding:8px 5px 8px 2px;" class="d-block form-control" aria-label="Default select example">
                                            <option value="1" selected>Today sales</option>
                                            <option value="2">Weekly sales</option>
                                            <option value="3">Monthly sales</option>
                                            <option value="4">Yearly sales</option>
                                          </select>


                                       
                                        <div class="dropdown">
                                            
                                            
                                            
                                            
                                            <button type="button"
                                                class="btn btn-sm btn-sa-muted d-block" id="widget-context-menu-6"
                                                data-bs-toggle="dropdown" aria-expanded="false" aria-label="More"><svg
                                                    xmlns="http://www.w3.org/2000/svg" width="3" height="13"
                                                    fill="currentColor">
                                                    <path
                                                        d="M1.5,8C0.7,8,0,7.3,0,6.5S0.7,5,1.5,5S3,5.7,3,6.5S2.3,8,1.5,8z M1.5,3C0.7,3,0,2.3,0,1.5S0.7,0,1.5,0 S3,0.7,3,1.5S2.3,3,1.5,3z M1.5,10C2.3,10,3,10.7,3,11.5S2.3,13,1.5,13S0,12.3,0,11.5S0.7,10,1.5,10z">
                                                    </path>
                                                </svg></button>





                                            <ul class="dropdown-menu dropdown-menu-end"
                                                aria-labelledby="widget-context-menu-6">
                                                <li><a class="dropdown-item" href="#">Settings</a></li>
                                                <li><a class="dropdown-item" href="#">Move</a></li>
                                                <li>
                                                    <hr class="dropdown-divider" />
                                                </li>
                                                <li><a class="dropdown-item text-danger" href="#">Remove</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="saw-table__body sa-widget-table text-nowrap">
                                    <table id="printable" class="display nowrap" style="width:100%">
                                        
                                        <thead>
                                            <tr>
                                                <th>No.</th>
                                                <th>Status</th>
                                                <th>Payment</th>
                                                <th>Customer</th>
                                                <th>Date</th>
                                                <th>Total</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% if (todaysales!=null) { %>

                                                
                                             <% for( let i = 0; i < todaysales.length; i++ ) { %>
                                             

                                            <tr>
                                                <td><%= todaysales[i]._id.toString().substring(8,14) %></td>
                                                <td>
                                                    <%= todaysales[i].status %> 
                                                   
                                                </td>
                                                <td><%= todaysales[i].payment %></td>
                                                <td>
                                                   <%= todaysales[i].user.firstname +' '+todaysales[i].user.lastname %> 
                                              
                                                </td>
                                                <td><%= moment(todaysales[i].updatedAt).format('D-MMMM-YYYY') %> </td>
                                                <td>&#8377;<%= todaysales[i].totalamount %> </td>
                                            </tr>
                                            <% } %>
                                            
                                            <% } %> 

                                        </tbody>
                                        <tfoot>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- sa-app__body / end -->
            <!-- sa-app__footer -->
      
            <%- include('./layouts/footer'); -%>
            <script>
                $(document).ready(function() {
                $("#reports").change(function(){
                    console.log($('#reports option:selected').val())
                    $.ajax({
                        type: 'POST',
                        url:'/admin/sales_report',
                        data:  {keyname:$('#reports option:selected').val()},
                        success:(response)=>{
                            if(response.status){
                                console.log(response);
                               
                                var myTable = $('#printable').DataTable();
                                myTable.rows().remove().draw()
                                response.sales.forEach(element => {
                                    
                                    myTable.row.add([element._id.toString().substring(8,14),element.status,element.payment,element.user.firstname+' '+element.user.lastname,moment(element.createdAt).format('D-MMMM-YYYY'),element.totalamount]).draw(false)
                                });
                                console.log(myTable)
                                
                            }
                        }

                    });
                });
            });
            </script>
            <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/2.0.1/js/dataTables.buttons.min.js"></script>
            <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
            <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
            <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
            <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.html5.min.js"></script>
            <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.print.min.js"></script>
             <script>$(document).ready(function() {
                $('#printable').DataTable( {
                    responsive:true,
                    dom: 'Bfrtip',
                    buttons: [
            { extend: 'copyHtml5', footer: true },
            { extend: 'excelHtml5', footer: true },
            { extend: 'print', footer: true },
            { extend: 'pdfHtml5', footer: true }
                    ],
        
             drawCallback: function () {
		      var api = this.api();
		      var sum = 0;
		      var formated = 0;
		      //to show first th
		      $(api.column(0).footer()).html('Total');

		      for(var i=5; i<=5;i++)
		      {
		      	sum = api.column(i, {page:'current'}).data().sum();

		      	//to format this sum
		      	formated = parseFloat(sum).toLocaleString(undefined, {minimumFractionDigits:2});
		      	$(api.column(i).footer()).html('₹'+formated);
		      }
		      
		    },
            initComplete: function () {
            var btns = $('.dt-button');
            btns.addClass('btn btn-success btn-sm');
            btns.removeClass('dt-button');
             },
                } );
      
            } );</script>
            <script type="text/javascript" src="https://cdn.datatables.net/plug-ins/1.11.5/api/sum().js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>