<%- include('./layouts/main'); -%>
    <link rel="stylesheet" href="user/assets/css/skins/skin-demo-13.css">
    <link rel="stylesheet" href="user/assets/css/demos/demo-13.css">
    </head>

    <body>
        <div class="page-wrapper">
            <%- include('./layouts/header'); -%>
                <% if (alert) { %>
                    <script>alert("your banned")</script>
                    <% } %>
                        <div class="page-content">
                            <div class="cart">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-lg-9">
                                            <% if (cart || cart!=null) { %>
                                             
                                            
                                            <% if (cart.products != '') { %>
                                            <table class="table table-cart table-mobile">
                                                <thead>
                                                    <tr>
                                                        <th>Product</th>
                                                        <th>Price</th>
                                                        <th>discount</th>
                                                        <th>Quantity</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                   



                                                        <% for( let i=0; i < cart.products.length; i++ ) { %>



                                                            <tr>
                                                                <td class="product-col">
                                                                    <div class="product">
                                                                        <figure class="product-media">
                                                                            <a href="#">
                                                                                <img src="data:<%=cart.products[i].item.product_image[0].contentType %>;base64,<%= cart.products[i].item.product_image[0].imageBase64 %>"
                                                                                    alt="Product image">
                                                                            </a>
                                                                        </figure>

                                                                        <h3 class="product-title">
                                                                            <a
                                                                                href="/product?id=<%= cart.products[i].item._id%> ">
                                                                                <%= cart.products[i].item.name.substring(0,80)
                                                                                    %>...
                                                                            </a>
                                                                        </h3><!-- End .product-title -->
                                                                    </div><!-- End .product -->
                                                                </td>
                                                                <td class="price-col">&#8377;<span id="productprice">
                                                                        <%= cart.products[i].item.price %>
                                                                    </span>
                                                                </td>
                                                                <td class="price-col text-danger">-&#8377;<span
                                                                        id="productprice">
                                                                        <%= cart.products[i].item.discount %>
                                                                    </span>
                                                                </td>
                                                                <td class="quantity-col">
                                                                    <div class="cart-product-quantity">
                                                                        <button
                                                                            style="border: none;border-radius:3px; padding:0 16px 0 16px"
                                                                            onclick="changeQuantity('<%= cart._id%>','<%= cart.products[i].item._id%>',-1)">-</button>
                                                                        <span id="<%= cart.products[i].item._id%>">
                                                                            <%= cart.products[i].quantity %>
                                                                        </span><button
                                                                            style="border: none;border-radius:3px; padding:0 16px 0 16px"
                                                                            class=""
                                                                            onclick="changeQuantity('<%= cart._id%>','<%= cart.products[i].item._id%>',1)">+</button>
                                                                    </div><!-- End .cart-product-quantity -->
                                                                </td>

                                                                <td class="remove-col"><button
                                                                        onclick="deleteCart('<%= cart._id %>','<%= cart.products[i].item._id %>')"
                                                                        class="btn-remove"><i
                                                                            class="icon-close"></i></button></td>
                                                            </tr>
                                                            <% } %>

                                                </tbody>
                                            </table><!-- End .table table-wishlist -->

                                            <div class="cart-bottom">
                                                <div class="cart-discount">
                                                    <form action="#">
                                                        <div class="input-group">
                                                            <input type="text" class="form-control" required
                                                                placeholder="coupon code">
                                                            <div class="input-group-append">
                                                                <button class="btn btn-outline-primary-2"
                                                                    type="submit"><i
                                                                        class="icon-long-arrow-right"></i></button>
                                                            </div><!-- .End .input-group-append -->
                                                        </div><!-- End .input-group -->
                                                    </form>
                                                </div><!-- End .cart-discount -->

                                                <a href="/cart" class="btn btn-outline-dark-2"><span>Go
                                                        CART</span><i class="icon-refresh"></i></a>
                                            </div><!-- End .cart-bottom -->
                                        </div><!-- End .col-lg-9 -->
                                        <aside class="col-lg-3">
                                            <div class="summary summary-cart">
                                                <h3 class="summary-title">Cart Total</h3><!-- End .summary-title -->

                                                <table class="table table-summary">
                                                    <tbody>
                                                        <tr>
                                                            <td>Discount:</td>
                                                            <td><span id="discount" class="text-danger">-&#8377;<%=
                                                                        discount %>
                                                                </span>
                                                            </td>
                                                        </tr>

                                                        <tr class="summary-total">
                                                            <td>Total:</td>
                                                            <td><span id="total">
                                                                    &#8377;<%= total-discount %>
                                                                </span></td>
                                                        </tr><!-- End .summary-total -->
                                                    </tbody>
                                                </table><!-- End .table table-summary -->

                                                <a href="/checkout"
                                                    class="btn btn-outline-primary-2 btn-order btn-block">PROCEED TO
                                                    CHECKOUT</a>
                                            </div><!-- End .summary -->
                                            <% } else{%> 
                                                <div class="text-center"><img style=" display: block;
                                                    margin-left: auto;
                                                    margin-right: auto;
                                                    width: 50%;" src="https://mir-s3-cdn-cf.behance.net/projects/404/54b13147340145.Y3JvcCw0MDUsMzE3LDAsNDI.png" alt="cart empty"><h4> Cart is empty</h4></div>
                                                
                                                <% } %>
                                            <% }else{ %>
                                                <div class="text-center"><img style=" display: block;
                                                    margin-left: auto;
                                                    margin-right: auto;
                                                    width: 50%;" src="https://mir-s3-cdn-cf.behance.net/projects/404/54b13147340145.Y3JvcCw0MDUsMzE3LDAsNDI.png" alt="cart empty"><h4> Cart is empty</h4></div>
                                                <%}%>
                                                    <a href="/shop"
                                                        class="btn btn-outline-dark-2 btn-block mb-3"><span>CONTINUE
                                                            SHOPPING</span><i class="icon-refresh"></i></a>
                                        </aside><!-- End .col-lg-3 -->
                                    </div><!-- End .row -->
                                </div><!-- End .container -->
                            </div><!-- End .cart -->
                        </div><!-- End .page-content -->
                        </main><!-- End .main -->

                        <script>
                            function changeQuantity(cartId, productId, count) {
                                let quantity = parseInt(document.getElementById(productId).innerHTML)
                                count = parseInt(count)
                                let cunt = document.querySelector('.cart-count')
                                let val = parseInt(cunt.textContent)
                                let productprice = parseInt(document.getElementById('productprice').innerHTML)

                                $.ajax({
                                    url: '/change-product-quantity',
                                    data: {
                                        cart: cartId,
                                        product: productId,
                                        count: count,
                                        quantity: quantity
                                    },
                                    method: 'post',
                                    success: (response) => {
                                        if (response.removeProduct) {


                                            Swal.fire(
                                                'Deleted!',
                                                'Your cart has been deleted.',
                                                'success'
                                            )
                                            setTimeout(() => {
                                                location.reload()
                                            }, 1200)

                                        } else {
                                            document.getElementById(productId).innerHTML = quantity + count
                                            if (count == 1) {
                                                document.querySelector('.cart-count').textContent = val + 1
                                                document.getElementById('total').innerHTML = response.total - response.discount
                                                document.getElementById('discount').innerHTML = '-' + response.discount


                                            } else {
                                                document.querySelector('.cart-count').textContent = val - 1
                                                document.getElementById('total').innerHTML = response.total - response.discount

                                                document.getElementById('discount').innerHTML = '-' + response.discount



                                            }
                                        }

                                    }
                                })
                            }

                            function deleteCart(cartId, productId) {
                                Swal.fire({
                                    title: 'Are you sure?',
                                    text: "You won't be able to revert this!",
                                    icon: 'warning',
                                    showCancelButton: true,
                                    confirmButtonColor: '#3085d6',
                                    cancelButtonColor: '#d33',
                                    confirmButtonText: 'Yes, delete it!'
                                }).then((result) => {
                                    if (result.isConfirmed) {

                                        $.ajax({
                                            url: '/delete_cart',
                                            data: {
                                                cart: cartId,
                                                product: productId
                                            },
                                            method: 'post',
                                            success: (response) => {
                                                if (response) {
                                                    Swal.fire(
                                                        'Deleted!',
                                                        'Your cart has been deleted.',
                                                        'success'
                                                    )
                                                    setTimeout(() => {
                                                        location.reload()
                                                    }, 1500)

                                                } else {
                                                    Swal.fire(
                                                        'failed!',
                                                        'failed to remove.',
                                                        'error'
                                                    )
                                                }


                                            }

                                        })
                                    }
                                })


                            }
                        </script>

                        <%- include('./layouts/footer'); -%>