<%- include('./layouts/main'); -%>
    <link rel="stylesheet" href="user/assets/css/skins/skin-demo-13.css">
    <link rel="stylesheet" href="user/assets/css/demos/demo-13.css">
    <link rel="stylesheet" href="user/assets/css/checkout.css">
    <link rel="stylesheet" href="user/assets/fonts/icofont/icofont.min.css">
    <style>
        @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");




        .card {
            width: 400px;
            height: 180px;
            border-radius: 5px;
            box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
            background-color: #fff;
            padding: 10px 10px;
            position: relative;
        }

        .main,
        .copy-button {
            display: flex;
            justify-content: space-between;
            padding: 0 10px;
            align-items: center;
        }

        .card::after {
            position: absolute;
            content: "";
            height: 40px;
            right: -20px;
            border-radius: 40px;
            z-index: 1;
            top: 70px;
            background-color: #14cbdc;
            width: 40px;
        }

        .card::before {
            position: absolute;
            content: "";
            height: 40px;
            left: -20px;
            border-radius: 40px;
            z-index: 1;
            top: 70px;
            background-color: #14cbdc;
            width: 40px;
        }

        .co-img img {
            width: 100px;
            height: 100px;
        }

        .vertical {
            border-left: 5px dotted black;
            height: 100px;
            position: absolute;
            left: 40%;
        }

        .content h1 {
            font-size: 35px;
            margin-left: -20px;
            color: #565656;
        }

        .content h1 span {
            font-size: 18px;
        }

        .content h2 {
            font-size: 18px;
            margin-left: -20px;
            color: #565656;
            text-transform: uppercase;
        }

        .content p {
            font-size: 16px;
            color: #696969;
            margin-left: -20px;
        }

        .copy-button {
            margin: 12px 0 -5px 0;
            height: 45px;
            border-radius: 4px;
            padding: 0 5px;
            border: 1px solid #e1e1e1;
        }

        .copy-button input {
            width: 100%;
            height: 100%;
            border: none;
            outline: none;
            font-size: 15px;
        }

        .copy-button button {
            padding: 5px 20px;
            background-color: #14cbdc;
            color: #fff;
            border: 1px solid transparent;
        }
    </style>
    </head>

    <body>
        <div class="page-wrapper">
            <%- include('./layouts/header'); -%>
                <% if (alert) { %>
                    <script>alert("your banned")</script>
                    <% } %>

                        <div class="container mt-5 mb-5">
                            <div class="row">
                                <% for( let i=0; i < coupons.length; i++ ) { %>
                                 

                                    <div class="col-4 ml-5">
                                        <div class="card">
                                            <div class="main">
                                                <div class="co-img">
                                                    <img src="user/assets/images/demos/demo-4/couponlogo.png" alt="" />
                                                </div>
                                                <div class="vertical"></div>
                                                <div class="content">
                                                    <h2>Electro</h2>
                                                    <h1><%= coupons[i].type=='percentage'?coupons[i].discount+'%' : 'RS.'+coupons[i].discount %>  <span>Coupon</span></h1>
                                                    <p><%= moment(coupons[i].endDate).format('[Valid till] D MMMM YYYY'); %></p>
                                                </div>

                                            </div>
                                            <div class="copy-button">
                                                <input id="copyvalue<%= i %>" type="text" readonly value="<%=coupons[i].code  %> " />
                                                <button onclick="copyIt(<%= i %>)" class="copybtn">COPY</button>
                                            </div>

                                           
                                                
                                        
                                        </div>
                               
                                </div>
                                    <script>

                                        let copybtn = document.querySelector(".copybtn");
        
        
                                        function copyIt(index) {
                                            let copyInput = document.querySelector(`#copyvalue${index}`);
        
                                            copyInput.select();
        
                                            document.execCommand("copy");
        
                                            copybtn.textContent = "COPIED";
                                        }
        
        
                                    </script>
                                    <% } %>
                            </div>


                        </div>



                        <%- include('./layouts/footer'); -%>
                       