<%- include('./layouts/main'); -%>
<link rel="stylesheet" href="user/assets/css/demos/demo-4.css">
<link rel="stylesheet" href="user/assets/css/skins/skin-demo-4.css">
</head>
<body>
    <div class="page-wrapper">
        
        <%- include('./layouts/header'); -%>
        <% if (alert) { %>
         <script>alert("your banned")</script>
        <% } %>
        <main class="main">
            <div class="intro-slider-container mb-5">
                <div class="intro-slider owl-carousel owl-theme owl-nav-inside owl-light" data-toggle="owl" 
                    data-owl-options='{
                        "dots": true,
                        "nav": false, 
                        "responsive": {
                            "1200": {
                                "nav": true,
                                "dots": false
                            }
                        }
                    }'>

                    <% if (banner !=null) { %>

                     <% for( let i = 0; i < banner.length; i++ ) { %>
                     
                    
    
                    <div class="intro-slide" style="background-image: url(data:<%= banner[i].contentType %>;base64,<%= banner[i].imageBase64 %>);">
                        <div class="container intro-content">
                            <div class="row justify-content-end">
                                <div class="col-auto col-sm-7 col-md-6 col-lg-5">
                                    <h3 class="intro-subtitle text-third"><%= banner[i].name %> </h3><!-- End .h3 intro-subtitle -->
                                    <h1 class="intro-title"><%= banner[i].productname.substring(0,9) %> </h1>
                                    <h1 class="intro-title"><%= banner[i].productname.substring(9) %></h1><!-- End .intro-title -->

                                    <div class="intro-price">
                                        <sup class="intro-old-price">&#8377;<%= banner[i].discount %> </sup>
                                        <span class="text-third">
                                            &#8377;<%= banner[i].discount-banner[i].price %> <sup>.99</sup>
                                        </span>
                                    </div><!-- End .intro-price -->

                                    <a href="product?id=<%= banner[i].url %> " class="btn btn-primary btn-round">
                                        <span>Shop More</span>
                                        <i class="icon-long-arrow-right"></i>
                                    </a>
                                </div><!-- End .col-lg-11 offset-lg-1 -->
                            </div><!-- End .row -->
                        </div><!-- End .intro-content -->
                    </div><!-- End .intro-slide -->
                    <% } %>
                    <% } %> 

                   
                </div><!-- End .intro-slider owl-carousel owl-simple -->

                <span class="slider-loader"></span><!-- End .slider-loader -->
            </div><!-- End .intro-slider-container -->

            <div class="container">
                <h2 class="title text-center mb-4">Explore Popular Categories</h2><!-- End .title text-center -->
                
                <div class="cat-blocks-container">
                    <div class="row">

                        <% for( let i = 0; i < category.length; i++ ) { %>
                        <div class="col-6 col-sm-4 col-lg-2">
                            <a href="/shopfilter?category=<%= category[i].category_name %>" class="cat-block">
                                <figure>
                                    <span>
                                        <img src="data:<%= category[i].contentType %>;base64,<%= category[i].imageBase64  %>  " alt="Category image">
                                    </span>
                                </figure>

                                <h3 class="cat-block-title"><%= category[i].category_name %> </h3><!-- End .cat-block-title -->
                            </a>
                        </div><!-- End .col-sm-4 col-lg-2 -->
                        <% } %>
                        

                     
                    </div><!-- End .row -->
                </div><!-- End .cat-blocks-container -->
            </div><!-- End .container -->

            <div class="mb-4"></div><!-- End .mb-4 -->

           

            <div class="mb-3"></div><!-- End .mb-5 -->

            

            <div class="mb-6"></div><!-- End .mb-6 -->


           

            <div class="container">
                <hr class="mb-0">
                <div class="owl-carousel mt-5 mb-5 owl-simple" data-toggle="owl" 
                    data-owl-options='{
                        "nav": false, 
                        "dots": false,
                        "margin": 30,
                        "loop": false,
                        "responsive": {
                            "0": {
                                "items":2
                            },
                            "420": {
                                "items":3
                            },
                            "600": {
                                "items":4
                            },
                            "900": {
                                "items":5
                            },
                            "1024": {
                                "items":6
                            }
                        }
                    }'>
                    <a href="#" class="brand">
                        <img src="https://www.freepnglogos.com/uploads/black-samsung-logo-png-21.png" alt="Brand Name">
                    </a>
                    <a href="#" class="brand">
                        <img src="https://www.freepnglogos.com/uploads/beats-png-logo/new-beats-saudio-png-logo-0.png" alt="Brand Name">
                    </a>

                    <a href="#" class="brand">
                        <img src="https://www.freepnglogos.com/uploads/iphone-logo-11.jpg" alt="Brand Name">
                    </a>

                    <a href="#" class="brand">
                        <img src="https://www.freepnglogos.com/uploads/logo-asus-png/brand-asus-company-logo-black-14.png" alt="Brand Name">
                    </a>
                    
                    <a href="#" class="brand">
                        <img src="https://www.freepnglogos.com/uploads/xiaomi-png/xiaomi-logo-png-0.png" alt="Brand Name">
                    </a>

                    <a href="#" class="brand">
                        <img src="https://www.freepnglogos.com/uploads/sony-png-logo/sony-png-logo-transparent-4.png" alt="Brand Name">
                    </a>

                  

                  
                </div><!-- End .owl-carousel -->
            </div><!-- End .container -->






           

            <div class="mb-5"></div><!-- End .mb-5 -->

            <div class="mb-4"></div><!-- End .mb-4 -->

            <div class="container">
                <hr class="mb-0">
            </div><!-- End .container -->

            <div class="icon-boxes-container bg-transparent">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-lg-3">
                            <div class="icon-box icon-box-side">
                                <span class="icon-box-icon text-dark">
                                    <i class="icon-rocket"></i>
                                </span>
                                <div class="icon-box-content">
                                    <h3 class="icon-box-title">Free Shipping</h3><!-- End .icon-box-title -->
                                    <p>Orders $50 or more</p>
                                </div><!-- End .icon-box-content -->
                            </div><!-- End .icon-box -->
                        </div><!-- End .col-sm-6 col-lg-3 -->

                        <div class="col-sm-6 col-lg-3">
                            <div class="icon-box icon-box-side">
                                <span class="icon-box-icon text-dark">
                                    <i class="icon-rotate-left"></i>
                                </span>

                                <div class="icon-box-content">
                                    <h3 class="icon-box-title">Free Returns</h3><!-- End .icon-box-title -->
                                    <p>Within 30 days</p>
                                </div><!-- End .icon-box-content -->
                            </div><!-- End .icon-box -->
                        </div><!-- End .col-sm-6 col-lg-3 -->

                        <div class="col-sm-6 col-lg-3">
                            <div class="icon-box icon-box-side">
                                <span class="icon-box-icon text-dark">
                                    <i class="icon-info-circle"></i>
                                </span>

                                <div class="icon-box-content">
                                    <h3 class="icon-box-title">Get 20% Off 1 Item</h3><!-- End .icon-box-title -->
                                    <p>when you sign up</p>
                                </div><!-- End .icon-box-content -->
                            </div><!-- End .icon-box -->
                        </div><!-- End .col-sm-6 col-lg-3 -->

                        <div class="col-sm-6 col-lg-3">
                            <div class="icon-box icon-box-side">
                                <span class="icon-box-icon text-dark">
                                    <i class="icon-life-ring"></i>
                                </span>

                                <div class="icon-box-content">
                                    <h3 class="icon-box-title">We Support</h3><!-- End .icon-box-title -->
                                    <p>24/7 amazing services</p>
                                </div><!-- End .icon-box-content -->
                            </div><!-- End .icon-box -->
                        </div><!-- End .col-sm-6 col-lg-3 -->
                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .icon-boxes-container -->
        </main><!-- End .main -->
        <%- include('./layouts/footeronly'); -%>
        <script src="user/assets/js/jquery.min.js"></script>
        <script src="user/assets/js/bootstrap.bundle.min.js"></script>
        <script src="user/assets/js/jquery.hoverIntent.min.js"></script>
        <script src="user/assets/js/jquery.waypoints.min.js"></script>
        <script src="user/assets/js/superfish.min.js"></script>
        <script src="user/assets/js/owl.carousel.min.js"></script>
        <script src="user/assets/js/bootstrap-input-spinner.js"></script>
        <script src="user/assets/js/jquery.elevateZoom.min.js"></script>
        <script src="user/assets/js/bootstrap-input-spinner.js"></script>
        <script src="user/assets/js/jquery.magnific-popup.min.js"></script>
        <script src="user/assets/js/main.js"></script>

      