<%- include('./layouts/main'); -%>
    <link rel="stylesheet" href="user/assets/css/demos/demo-4.css">
    <link rel="stylesheet" href="user/assets/css/skins/skin-demo-4.css">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <style>
        .rating {
            display: inline-block;
            position: relative;
            height: 50px;
            line-height: 50px;
            font-size: 50px;
        }

        .iconstar {
            font-size: 36px;
        }

        .rating label {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            cursor: pointer;
        }

        .rating label:last-child {
            position: static;
        }

        .rating label:nth-child(1) {
            z-index: 5;
        }

        .rating label:nth-child(2) {
            z-index: 4;
        }

        .rating label:nth-child(3) {
            z-index: 3;
        }

        .rating label:nth-child(4) {
            z-index: 2;
        }

        .rating label:nth-child(5) {
            z-index: 1;
        }

        .rating label input {
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
        }

        .rating label .iconstar {
            float: left;
            color: transparent;
        }

        .rating label:last-child .iconstar {
            color: #000;
        }

        .rating:not(:hover) label input:checked~.iconstar,
        .rating:hover label:hover input~.iconstar {
            color: #FDCC0D;
        }

        .rating label input:focus:not(:checked)~.iconstar:last-child {
            color: #000;
            text-shadow: 0 0 5px #09f;
        }
    </style>

    </head>

    <body>
        <div class="page-wrapper">





            <%- include('./layouts/header'); -%>
                <% if (alert) { %>
                    <script>alert("your banned")</script>
                    <% } %>





                        <main class="main">
                            <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
                                <div class="container d-flex align-items-center">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                                        <li class="breadcrumb-item"><a href="#">Products</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Default</li>
                                    </ol>

                                    <nav class="product-pager ml-auto" aria-label="Product">
                                        <a class="product-pager-link product-pager-prev" href="#" aria-label="Previous"
                                            tabindex="-1">
                                            <i class="icon-angle-left"></i>
                                            <span>Prev</span>
                                        </a>

                                        <a class="product-pager-link product-pager-next" href="#" aria-label="Next"
                                            tabindex="-1">
                                            <span>Next</span>
                                            <i class="icon-angle-right"></i>
                                        </a>
                                    </nav><!-- End .pager-nav -->
                                </div><!-- End .container -->
                            </nav><!-- End .breadcrumb-nav -->

                            <div class="page-content">
                                <div class="container">
                                    <div class="product-details-top">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="product-gallery product-gallery-vertical">
                                                    <div class="row">
                                                        <figure class="product-main-image">
                                                            <img id="product-zoom"
                                                                src="data:<%= products.product_image[0].contentType  %>;base64,<%= products.product_image[0].imageBase64 %> "
                                                                data-zoom-image="data:<%= products.product_image[0].contentType  %>;base64,<%= products.product_image[0].imageBase64 %>"
                                                                alt="product image">

                                                            <a href="#" id="btn-product-gallery"
                                                                class="btn-product-gallery">
                                                                <i class="icon-arrows"></i>
                                                            </a>
                                                        </figure><!-- End .product-main-image -->

                                                        <div id="product-zoom-gallery" class="product-image-gallery">
                                                            <% for( let i=0; i < products.product_image.length; i++ ) {
                                                                %>


                                                                <a class="product-gallery-item active" href="#"
                                                                    data-image="data:<%= products.product_image[i].contentType  %>;base64,<%= products.product_image[i].imageBase64 %>"
                                                                    data-zoom-image="data:<%= products.product_image[i].contentType  %>;base64,<%= products.product_image[i].imageBase64 %>">
                                                                    <img src="data:<%= products.product_image[i].contentType  %>;base64,<%= products.product_image[i].imageBase64 %>"
                                                                        alt="product side">
                                                                </a>
                                                                <% } %>


                                                        </div><!-- End .product-image-gallery -->
                                                    </div><!-- End .row -->
                                                </div><!-- End .product-gallery -->
                                            </div><!-- End .col-md-6 -->

                                            <div class="col-md-6">
                                                <div class="product-details">
                                                    <h1 class="product-title">
                                                        <%= products.name %>
                                                    </h1><!-- End .product-title -->

                                                    <div class="ratings-container">
                                                        <div class="ratings">
                                                            <div class="ratings-val" style="width: 80%;"></div>
                                                            <!-- End .ratings-val -->
                                                        </div><!-- End .ratings -->
                                                        <a class="ratings-text" href="#product-review-link"
                                                            id="review-link">( 2 Reviews )</a>
                                                    </div><!-- End .rating-container -->

                                                    <div class="product-price">
                                                        &#x20B9;<%= products.price-products.discount %>
                                                    </div>
                                                    <div class="new-price">
                                                        old price <del>&#x20B9;<%= products.price %> </del>
                                                    </div><!-- End .product-price -->

                                                    <div class="product-content">
                                                        <p>
                                                            <%= products.description %>
                                                        </p>

                                                    </div><!-- End .product-content -->

                                                    <div class="details-filter-row details-row-size">
                                                        <label>Brand:</label>

                                                        <div class="product-nav product-nav-thumbs">

                                                            <div class="product-nav product-nav-dots">


                                                                <span>
                                                                    <%= products.brand %>
                                                                </span>



                                                            </div><!-- End .details-filter-row -->

                                                        </div><!-- End .product-nav -->
                                                    </div><!-- End .details-filter-row -->

                                                    <div class="details-filter-row details-row-size">
                                                        <label>Color:</label>

                                                        <div class="product-nav product-nav-thumbs">
                                                            <% if (products.colors) { %>
                                                                <div class="product-nav product-nav-dots">
                                                                    <% for( let j=0; j < products.colors.length; j++ ) {
                                                                        %>

                                                                        <a href="#" class="active"
                                                                            style="background:<%= products.colors[j] %>"><span
                                                                                class="sr-only">Color name</span></a>
                                                                        <% } %>


                                                                </div><!-- End .details-filter-row -->
                                                                <% } %>
                                                        </div><!-- End .product-nav -->
                                                    </div><!-- End .details-filter-row -->



                                                    <div class="details-filter-row details-row-size">
                                                        <label for="qty">Qty:</label>
                                                        <div class="product-details-quantity">
                                                            <input id="qtybox" type="number" id="qty"
                                                                class="form-control" value="1" min="1" max="10" step="1"
                                                                data-decimals="0" required>
                                                        </div><!-- End .product-details-quantity -->
                                                    </div><!-- End .details-filter-row -->

                                                    <div class="product-details-action">
                                                        <a onclick="productCart('<%= products._id %>')"
                                                            class="btn-product btn-cart"><span>add to
                                                                cart</span></a>

                                                        <script>
                                                            function productCart(productId) {
                                                                const count = parseInt(document.getElementById("qtybox").value)
                                                                $.ajax({
                                                                    url: '/addcartproduct',
                                                                    data: {
                                                                        productid: productId,
                                                                        count: count
                                                                    },
                                                                    method: 'post',
                                                                    success: (response) => {
                                                                        console.log(response);
                                                                        if (response) {
                                                                          if(response===true){
                                                                            Swal.fire(
                                                                                'Added to cart!',
                                                                                'Your cart has been Added.',
                                                                                'success'
                                                                            )
                                                                            setTimeout(() => {
                                                                                window.location = '/cart'

                                                                            }, 1200)
                                                                          }
                                                                          if(response?.auth){
                                                                            Swal.fire(
                                                                                'login required pleas login'
                                                                            )
                                                                            setTimeout(()=> {
                                                                                window.location='/login'
                                                                            },1200)
                                                                          }
                                       
                                                                        }

                                                                    }

                                                                })
                                                            }
                                                        </script>

                                                        <div class="details-action-wrapper">
                                                            <a href="#" class="btn-product btn-wishlist"
                                                                title="Wishlist">



                                                                <span>


                                                                    Add to Wishlist
                                                                </span></a>
                                                        </div><!-- End .details-action-wrapper -->
                                                    </div><!-- End .product-details-action -->

                                                    <div class="product-details-footer">
                                                        <div class="product-cat">
                                                            <span>Category:</span>
                                                            <a href="#">
                                                                <%= products.category.category_name %>
                                                            </a>,

                                                        </div><!-- End .product-cat -->

                                                        <div class="social-icons social-icons-sm">
                                                            <span class="social-label">Share:</span>
                                                            <a href="#" class="social-icon" title="Facebook"
                                                                target="_blank"><i class="icon-facebook-f"></i></a>
                                                            <a href="#" class="social-icon" title="Twitter"
                                                                target="_blank"><i class="icon-twitter"></i></a>
                                                            <a href="#" class="social-icon" title="Instagram"
                                                                target="_blank"><i class="icon-instagram"></i></a>
                                                            <a href="#" class="social-icon" title="Pinterest"
                                                                target="_blank"><i class="icon-pinterest"></i></a>
                                                        </div>
                                                    </div><!-- End .product-details-footer -->
                                                </div><!-- End .product-details -->
                                            </div><!-- End .col-md-6 -->
                                        </div><!-- End .row -->
                                    </div><!-- End .product-details-top -->

                                    <div class="product-details-tab">
                                        <ul class="nav nav-pills justify-content-center" role="tablist">
                                            <li class="nav-item">
                                                <a class="nav-link active" id="product-desc-link" data-toggle="tab"
                                                    href="#product-desc-tab" role="tab" aria-controls="product-desc-tab"
                                                    aria-selected="true">Description</a>
                                            </li>

                                            <li class="nav-item">
                                                <a class="nav-link" id="product-shipping-link" data-toggle="tab"
                                                    href="#product-shipping-tab" role="tab"
                                                    aria-controls="product-shipping-tab" aria-selected="false">Shipping
                                                    & Returns</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" id="product-review-link" data-toggle="tab"
                                                    href="#product-review-tab" role="tab"
                                                    aria-controls="product-review-tab" aria-selected="false">Reviews
                                                    (<%=review !=null?review.length : 0 %>)</a>
                                            </li>
                                        </ul>
                                        <div class="tab-content">
                                            <div class="tab-pane fade show active" id="product-desc-tab" role="tabpanel"
                                                aria-labelledby="product-desc-link">
                                                <div class="product-desc-content">
                                                    <h3>Product Information</h3>
                                                    <p>
                                                        <%= products.description %>
                                                    </p>


                                                </div><!-- End .product-desc-content -->
                                            </div><!-- .End .tab-pane -->



                                            <div class="tab-pane fade" id="product-shipping-tab" role="tabpanel"
                                                aria-labelledby="product-shipping-link">
                                                <div class="product-desc-content">
                                                    <h3>Delivery & returns</h3>
                                                    <p>We deliver to over 100 countries around the world. For full
                                                        details of the delivery options we offer, please view our <a
                                                            href="#">Delivery information</a><br>
                                                        We hope you’ll love every purchase, but if you ever need to
                                                        return an item you can do so within a month of receipt. For full
                                                        details of how to make a return, please view our <a
                                                            href="#">Returns information</a></p>
                                                </div><!-- End .product-desc-content -->
                                            </div><!-- .End .tab-pane -->



                                            <div class="tab-pane fade" id="product-review-tab" role="tabpanel"
                                                aria-labelledby="product-review-link">


                                            

               
                                                <div class="reviews">
                                                    <% if (review != null) { %>
                                                    <h3>Reviews (<%= review.length %>)</h3>
                                               
                                                    <% for( let i = 0; i < review.length; i++ ) { %>

                                                    <div class="review">
                                                        <div class="row no-gutters">
                                                            <div class="col-auto">
                                                                <h4><a href="#"><%= review[i].user.firstname+' '+review[i].user.lastname %></a></h4>
                                                                <div class="ratings-container">
                                                                    <div class="ratings">
                                                                        <div class="ratings-val" style="width:<%= ss= (review[i].stars*20)%>%">
                                                                        </div><!-- End .ratings-val -->
                                                                    </div><!-- End .ratings -->
                                                                </div><!-- End .rating-container -->
                                                                <span class="review-date"><%= moment(review[i].createdAt).fromNow(); %></span>
                                                            </div><!-- End .col -->
                                                            <div class="col">
                                                                <h4><%= review[i].title %></h4>

                                                                <div class="review-content">
                                                                    <p><%=review[i].review %></p>
                                                                </div><!-- End .review-content -->

                                                                <div class="review-action">
                                                                    <a href="#"><i class="icon-thumbs-up"></i>Helpful
                                                                        (2)</a>
                                                                    <a href="#"><i
                                                                            class="icon-thumbs-down"></i>Unhelpful
                                                                        (0)</a>
                                                                </div><!-- End .review-action -->
                                                            </div><!-- End .col-auto -->
                                                        </div><!-- End .row -->
                                                    </div><!-- End .review -->
                                                    <% } %>
                                                    <% } %>

                                                    

                                                    <div class="">
                                                            <label for="review">
                                                                <h3>
                                                                    <ul> Review </ul>
                                                                </h3>
                                                            </label>
                                                        
                                                            <form action="/review?productId=<%= products._id %>"
                                                                method="post" class="">

                                                                <div class="rating">
                                                                    <label>
                                                                        <input type="radio" name="stars" value="1"
                                                                            checked />
                                                                        <span class="iconstar">★</span>
                                                                    </label>
                                                                    <label>
                                                                        <input type="radio" name="stars" value="2" />
                                                                        <span class="iconstar">★</span>
                                                                        <span class="iconstar">★</span>
                                                                    </label>
                                                                    <label>
                                                                        <input type="radio" name="stars" value="3" />
                                                                        <span class="iconstar">★</span>
                                                                        <span class="iconstar">★</span>
                                                                        <span class="iconstar">★</span>
                                                                    </label>
                                                                    <label>
                                                                        <input type="radio" name="stars" value="4" />
                                                                        <span class="iconstar">★</span>
                                                                        <span class="iconstar">★</span>
                                                                        <span class="iconstar">★</span>
                                                                        <span class="iconstar">★</span>
                                                                    </label>
                                                                    <label>
                                                                        <input type="radio" name="stars" value="5" />
                                                                        <span class="iconstar">★</span>
                                                                        <span class="iconstar">★</span>
                                                                        <span class="iconstar">★</span>
                                                                        <span class="iconstar">★</span>
                                                                        <span class="iconstar">★</span>
                                                                    </label>
                                                                </div>
                                                                <div class=""><input type="text" class="form-control"
                                                                        name="title" placeholder="Title" required></div>
                                                                <div>

                                                                    <textarea name="review" id="" class="form-control"
                                                                        rows="9" required></textarea>
                                                                </div>
                                                                <button class="btn btn-outline-primary"
                                                                    type="submit">submit</button>
                                                            </form>
                                                        </div>











                                                </div><!-- End .reviews -->
                                            </div><!-- .End .tab-pane -->
                                        </div><!-- End .tab-content -->
                                    </div><!-- End .product-details-tab -->



                                </div><!-- End .container -->
                            </div><!-- End .page-content -->
                        </main><!-- End .main -->














                        <%- include('./layouts/footeronly'); -%>
                            <script src="user/assets/js/jquery.min.js"></script>
                            <script src="user/assets/js/bootstrap.bundle.min.js"></script>
                            <script src="user/assets/js/jquery.hoverIntent.min.js"></script>
                            <script src="user/assets/js/jquery.waypoints.min.js"></script>
                            <script src="user/assets/js/superfish.min.js"></script>
                            <script src="user/assets/js/owl.carousel.min.js"></script>
                            <script src="user/assets/js/bootstrap-input-spinner.js"></script>
                            <script src="user/assets/js/jquery.elevateZoom.min.js"></script>
                            <script src="user/assets/js/bootstrap-input-spinner.js"></script>
                            <script src="user/assets/js/jquery.magnific-popup.min.js"></script>
                            <script src="user/assets/js/main.js"></script>
                            <script>
                                $(':radio').change(function () {
                                    console.log('New star rating: ' + this.value);
                                });
                            </script>

                            <!-- Plugins JS File -->

                            <!-- Main JS File -->


    </body>




    </html>