



<%- include('./layouts/main'); -%>
<link rel="stylesheet" href="user/assets/css/skins/skin-demo-13.css">
<link rel="stylesheet" href="user/assets/css/demos/demo-13.css">
</head>

<body>
    <div class="page-wrapper">
        <%- include('./layouts/header'); -%>
            <% if (alert) { %>
                <script>alert("your banned")</script>
                <% } %>










 <main class="main">
    <div class="page-header text-center" style="background-image: url('user/assets/images/page-header-bg.jpg')">
        <div class="container">
            <h1 class="page-title">My Account<span>Shop</span></h1>
        </div><!-- End .container -->
    </div><!-- End .page-header -->
    <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Shop</a></li>
                <li class="breadcrumb-item active" aria-current="page">My Account</li>
            </ol>
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->

    <div class="page-content">
        <div class="dashboard">
            <div class="container">
                <div class="row">
                    <aside class="col-md-4 col-lg-3">
                        <ul class="nav nav-dashboard flex-column mb-3 mb-md-0" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link " 
                                     href="/profile_dashboard" role="tab"
                                    >Dashboard</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" 
                                    href="/profile_order" 
                                    aria-selected="false">Orders</a>
                            </li>
                        
                            <li class="nav-item">
                                <a class="nav-link" 
                                    href="/profile_address" role="tab" aria-controls="tab-address"
                                    aria-selected="false">Adresses</a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link active" id="tab-account-link" 
                                    href="/profile_details" 
                                    aria-selected="false">Account Details</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Sign Out</a>
                            </li>
                        </ul>
                    </aside><!-- End .col-lg-3 -->

                    <div class="col-md-8 col-lg-9">
                        <div class="tab-content">
                           

                            <div class="" id="tab-account" role="tabpanel" aria-labelledby="tab-account-link">
                                <form  action="/user_edit" method="post">
                                    <div class="form-group">
                                        <label for="register">First name *</label>
                                        <input type="text" class="form-control" id="fname" value="<%=user.firstname  %> " name="firstname" required>
                                        <span class="" style="color:red"> </span>
                                    </div><!-- End .form-group -->
                                    <div class="form-group">
                                        <label for="register-email-2">Last name  *</label>
                                        <input type="text" value="<%=user.lastname  %> "class="form-control" id="lname" name="lastname" required>
                                        <span id = "charMsg" style="color:red"> </span>
    
                                        <!-- <div class="form-group">
                                            <label for="register">Phone number *</label>
                                            <input type="tel"   class="form-control" id="phone" name="phone" required>
                                            <span id = "phonemsg" style="color:red"></span>
    
                                           
                                        </div> -->
                                        <!-- End .form-group -->
                                    </div><!-- End .form-group -->
                                    <div class="form-group">
                                        <label for="register-email-2">Your email address *</label>
                                        <input type="email" value="<%=user.email  %>" class="form-control" id="register-email-2" name="email"required >
                                 
                              
                                            <span id = "phonemsg" style="color:red"><%= emailerr %> </span>
                                       
                                    </div><!-- End .form-group -->
                                    <div class="form-group">
                                        <label for="register-password-2">current Password *</label>
                                        <input type="password"  title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" class="form-control" id="pswd1" name="oldpass" required>
                                        <span id = "message1" style="color:red"><%= passerr %></span>
                                    </div><!-- End .form-group -->
                                    <div class="form-group">
                                        <label for="register-password-2">new Password *</label>
                                        <input type="password"  title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" class="form-control" id="pswd1" name="newpass" required>
                                        <span id = "message1" style="color:red"><%= passerr %></span>
                                    </div><!-- End .form-group -->
                                    <div class="form-group">
                                        <label for="register-password-2">Confirm Password *</label>
                                        <input type="password"  title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" class="form-control" id="pswd2" name="newconfirmpass" required>
                                        <span id = "message2" style="color:red"></span>
                                    </div><!-- End .form-group -->
                                    <span id = "message2" style="color:red"><%= allerr %> </span>
    
                                    <div class="form-footer">
                                       
                                        <button type="submit" class="btn btn-outline-primary-2">
                                            <span>Change</span>
                                            <i class="icon-long-arrow-right"></i>
                                        </button>
    
                                        
                                    </div><!-- End .form-footer -->
                                </form>
                            </div><!-- .End .tab-pane -->
                        </div>
                    </div><!-- End .col-lg-9 -->
                </div><!-- End .row -->
            </div><!-- End .container -->
        </div><!-- End .dashboard -->
    </div><!-- End .page-content -->
</main><!-- End .main -->
<%- include('./layouts/footer'); -%>