<%- include('./layouts/main'); -%>
<link rel="stylesheet" href="user/assets/css/demos/demo-4.css">
<link rel="stylesheet" href="user/assets/css/skins/skin-demo-4.css">
</head>
<body>
    
    
       
<%- include('./layouts/header'); -%>

 <main class="main">
    <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Pages</a></li>
                <li class="breadcrumb-item active" aria-current="page">Login</li>
            </ol>
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->

    <div class="login-page bg-image pt-8 pb-8 pt-md-12 pb-md-12 pt-lg-17 pb-lg-17" style="background-image: url('user/assets/images/backgrounds/login-bg.jpg')">
        <div class="container">
            <div class="form-box">
                <div class="form-tab">
                    <ul class="nav nav-pills nav-fill" role="tablist">
                    
                        <li class="nav-item">
                            <a class="nav-link active" id="register-tab-2" data-toggle="tab" href="#register-2" role="tab" aria-controls="register-2" aria-selected="true">Register</a>
                        </li>
                    </ul>

                <!-- signup-------------------------------------------------------------------------------------------------------------- -->
                        <div class="tab-pane fade show active" id="register-2" role="tabpanel" aria-labelledby="register-tab-2">
                            <form  action="/signup" method="post">
                                <div class="form-group">
                                    <label for="register">First name *</label>
                                    <input type="text" class="form-control" id="fname" name="firstname" required>
                                    <span class="" style="color:red"> </span>
                                </div><!-- End .form-group -->
                                <div class="form-group">
                                    <label for="register-email-2">Last name  *</label>
                                    <input type="text" class="form-control" id="lname" name="lastname" required>
                                    <span id = "charMsg" style="color:red"> </span>

                                    <div class="form-group">
                                        <label for="register">Phone number *</label>
                                        <input type="tel"    class="form-control" id="phone" name="phone" required>
                                        <span id = "phonemsg" style="color:red"></span>

                                       
                                    </div><!-- End .form-group -->
                                </div><!-- End .form-group -->
                                <div class="form-group">
                                    <label for="register-email-2">Your email address *</label>
                                    <input type="email" class="form-control" id="register-email-2" name="email"required >
                             
                          
                                        <span id = "phonemsg" style="color:red"><%= emailerr %> </span>
                                   
                                </div><!-- End .form-group -->

                                <div class="form-group">
                                    <label for="register-password-2">Password *</label>
                                    <input type="password"  title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" class="form-control" id="pswd1" name="passwordone" required>
                                    <span id = "message1" style="color:red"><%= passerr %></span>
                                </div><!-- End .form-group -->
                                <div class="form-group">
                                    <label for="register-password-2">Confirm Password *</label>
                                    <input type="password"  title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" class="form-control" id="pswd2" name="password" >
                                    <span id = "message2" style="color:red"></span>
                                </div><!-- End .form-group -->


                                <div class="form-footer">
                                    <span id = "message2" style="color:red"><%= allerr %> </span>
                                    <button type="submit" class="btn btn-outline-primary-2 rounded">
                                        <span>SIGN UP</span>
                                        <i class="icon-long-arrow-right"></i>
                                    </button>
                                    <a href="/login" class="forgot-link">You are already user?</a>


                    
                                </div><!-- End .form-footer -->
                            </form>
                         
                        </div><!-- .End .tab-pane -->
                    </div><!-- End .tab-content -->
                </div><!-- End .form-tab -->
            </div><!-- End .form-box -->
        </div><!-- End .container -->
    </div><!-- End .login-page section-bg -->
</main><!-- End .main -->








<%- include('./layouts/footer'); -%>